img {
    height: 130px;
}

body {
    background-color: black;
}

.circle {
    border-radius: 100%;
    width: 130px;
    border: 10px dotted white;
}

.con {
    display: flex;
    justify-content: space-around;
}


.container1 {
    padding: 5px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.container2 {
   padding: 5px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    width:40px;
}

.container3 {
    padding: 3px;
    background-color: black;
    display: flex;
    justify-content: center;
    width: 90px;
   font-family: bold;
}

.container4 {
    padding: 3px;
    background-color: black;
display: flex;
    justify-content: flex-end;
    width: 30px;}

h1 {
    color: white;
    font-family: bold;
}

p {
    color: white;
    font-family: bold;
}

h2 {
    color: white;
}

a {
    color: skyblue;
}

.post1 {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin: 10px;
    padding: 6px;
    border: 10px solid lightgrey;

}

.post2 {
    display: flex;
    width: 630px;
    justify-content: space-between;
    margin: 19px;
    padding: 6px;
    border: 10px solid lightgrey;

}

.post3 {
    display: flex;
    width: 670px;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
    border: 10px solid lightgrey;

}

button{
    background-color: #405DE6;
    color: white;
    display: flex;
}
